/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
  text-decoration: none;
  margin:16px;
  color: cornflowerblue;
}

#letters {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

h3:hover {
  color: cornflowerblue;
  background-color: white;
  border-color: cornflowerblue;
}
